apispec==3.1.0
Cython==0.29.14
falcon==2.0.0
falcon-apispec==0.3.0
falcon-cors==1.1.7
falcon-ratelimit==1.1
falcon-require-https==0.1.0
gunicorn==22.0.0
marshmallow==3.3.0
pillow>=8.3.2
pony==0.7.14
psycopg2-binary==2.8.4; implementation_name=='cpython'
psycopg2cffi==2.8.1; implementation_name=='pypy'
pymemcache==3.0.0
python-jose==3.1.0
python-magic==0.4.15
python-magic-bin==0.4.14; platform_system=='Windows'
PyMySQL==1.1.1
python-rapidjson==1.0
